:root {
    /* Colors */
    --brand-text: #2E2F42;
    --subtle-text: #434455;
    --primary-brand: #404BBF;
    --pressed-state: #4D5AE5;
    --light-mode-backgrounds-dialogs: #F4F4FD;
    --accent-color-hairlines: #E7E9FC;
    --font-family:inherit;
    /* Others */
    --margin-indent: 24px;
    --list-items-sum: 3;
}


body {
background-color: #ffffff;
color: var(--brand-text);
font-family: Roboto, sans-serif ;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}
/*--------------------*/


/* Lists-style */

.nav-list,
.features-list,
.jobs-list,
.team-list {
    list-style-type: none;

}
/*--------------------*/


/* Visually-hidden */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*--------------------*/

/* GRID */

.grid-set {
    display: flex;
    flex-wrap: wrap;
    gap: var(--margin-indent);

}

.grid-item {
    flex-basis: calc((var(--margin-indent)*(var(--list-items-sum) - 1)))/ var(--list-items-sum);
}

/*--------------------*/


.container  {
   max-width: 1158px;
   margin: 0 auto;
   padding: 0 15px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}




                            /* STUDIO(INDEX).HTML */





/*--------------------*/



/* Logo */

.logo {
    min-width: 115px;
    color: var(--pressed-state);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px ;
    margin-right: 77px;

}
.secon-logo {
    color: var(--brand-text);
}

.footer-logo {
    color: var(--light-mode-backgrounds-dialogs);
}
/*--------------------*/


/* Navigation */

.header-container {
    display: flex;
    align-items: center;
}


.nav-list {
    display: flex;
    gap: 40px;
}




.auth-list {
    display: flex;
    margin-left: auto;
}

.auth-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.auth-list .auth-list-item + .auth-list-item {
    margin-left: 40px;
}

.nav-bt {
    color: var(--brand-text);
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

}
.nav-list .nav-bt.current , .auth-list  {
    color: var(--primary-brand);
}

.contacts {
    color : var(--subtle-text);
    font-weight: 400;
    text-decoration: none;
}

.nav-bt:hover, .contacts:hover {
    color: var(--primary-brand);
}

.nav-bt:focus, .contacts:focus {
    color: var(--primary-brand);
}
/*--------------------*/


/* Hero section */

.hero {
    background-color: var(--brand-text);
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;

    
}

h1 {
    padding-top: 192px;
    margin-bottom: 48px;
}

.order-bt{
    background-color: var(--pressed-state);
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    align-items: center;
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 192;

}



.order-bt:hover, .order-bt:focus {
    background-color: var(--pressed-state);
    }

.order-bt:active {
    background-color: var(--primary-brand);
}
/*--------------------*/



/* Features Section */




.features-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.features-text {
    color: var(--subtle-text);
    font-weight: 400;
}


.features-list-item {
    max-width: 264px;
    --list-items-sum: 4;
}



/*--------------------*/




/* Jobs section */

.jobs-title, .team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}

.jobs-title {
    margin-bottom: 72px;
}

/*--------------------*/




/* Team section */

.team-section {
    background-color:  var(--light-mode-backgrounds-dialogs);
    padding-bottom: 64px;
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
}

.team-car-item {
    background-color: #ffffff;
    text-align: center;
    --list-items-sum: 4;
}
 
.team-car-item img {
    margin-bottom: 32px;
}

.team-member-tittle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.team-member-item {
    padding-bottom: 32px;
    font-weight: 400;
}


/*--------------------*/




/* Footer */

.footer {
    background-color: var(--brand-text);
    color: var(--light-mode-backgrounds-dialogs);
    font-weight: 400;
    padding-top: 100px;
    padding-bottom: 100px;
    }

.ftr-logo-position {
    display: block;
    margin-bottom: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.footer-text {
    max-width: 264px;
}
/*--------------------*/



    /* PORTFOLIO.HTML */


    /* Filters */

    .filters, .works-list {
        list-style-type: none;
    }

    
    .btn-filt {
        background-color: var(--accent-color-hairlines);
        color: var(--pressed-state);
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
    }
    .btn-filt:hover, .btn-filt:focus {
        background-color: var(--pressed-state);
        color: #ffffff;
        cursor: pointer;
    }
    /*--------------------*/



    /*  Work experience */

    .list-title {
        font-size: 20px;
        line-height: 1.2;
    }

    .list-subtitle {
        font-weight: 400;
        color: var(--subtle-text);
    }